 <!-- Modal -->
    <div class="modal fade" id="exampleModalLong-<%= micropost.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                <%= render micropost %>
      　       <% @micropost = micropost %>
      　       <% @comments = @micropost.comments %>
        　     <div id="comments_area">
              <h2>コメント</h2>
          　   <% @comments.each do |comment| %>
                <% if comment.parent_id.present? || comment.id.blank? %>
                  <% next %>
                <% end %>
                <hr>
                <% user = comment.user %>
                <%= gravatar_for user, size: 50 %>
                <%= link_to "#{user.name}  / #{user.username}", user %>
                <p> <%=comment.content%></p>
                <span> <%= time_ago_in_words(comment.created_at) %>前</span>
                <% if current_user?(comment.user) %>
                  <%= link_to "削除", "/microposts/#{@micropost.id}/comments/#{comment.id}", method: :delete,
                                                       data: { confirm: "You sure?" } %>
                <% end %>
         　　   <% end %>
              <%= form_with(model:[@micropost,@comment]) do |form| %>
                <p><label>新しいコメント</label></p>
                <textarea class="form-control input-form" name="comment[content]" rows="5"><%=@comment.content%></textarea>
                <%= form.hidden_field :micropost_id, value: micropost.id %>
                <div class="actions">
                   <%= form.submit value: "投稿する" %>
                </div>
                <% end %>
              </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>